@import 'tailwindcss';

.embla {
  overflow: hidden;
  position: relative;
}

.embla__viewport {
  overflow: hidden;
  width: 100%;
}

.embla__container {
  display: flex;
  gap: 10px;
}

.embla__slide {
  flex: 0 0 100%;
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .embla__slide {
    flex: 0 0 50%; /* Breakpoint SM slide covers 50% of the viewport */
  }
}
